body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#botaoCarregar {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#botaoCarregar:hover {
    background-color: #0056b3;
}


/* Estilo genérico para os dados */
#cervejasDiv, #dadosDiv {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#cervejasDiv div, #dadosDiv div {
    margin-bottom: 10px;
}

#cervejasDiv div:last-child, #dadosDiv div:last-child {
    margin-bottom: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
}

button:hover {
    background-color: #0056b3;
}

#dadosDiv {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}